body{background-color: rgb(0, 0, 0);}

.barranav{
    top: 0;
    position:sticky;
    background-color: rgb(0, 0, 0);
    padding: 2vw;
    padding-left: 37vw;
}

.titulo {
    color: rgb(217, 245, 0);
}

.opcionesDeVentas {
    color: whitesmoke;
    margin:100px
}


.doblebicep{
    margin-left: 30vw;
}

/* ------------pruebas-------------- */
#div1{
    display: inline-flex;
}
#texto1{
    color: white;
    font-size: 4vw;
}
#div_texto1{
    margin: 50px;
    border: 1px solid white;
}
/* --------------------------------- */

/* --------------footer------------- */
.instagram{
    position: absolute;
    margin-left: 93vw;
    margin-top: 0vw;
    width: 5vw;
    height: 5vw;
}
/* --------------------------------- */
