/*---barra de navegacion---*/

body{
    background-color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
}

.barranav{
    top: 0;
    position:sticky;
    background-color: rgb(0, 0, 0);
    padding: 2vw;
    z-index: 30;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: black!important;
}

.navbar-brand {
    color: lightskyblue;
}

/* Cambia el color del texto de los elementos de la navbar al hacer hover */
.nav-item:hover .nav-link {
    color: lightskyblue;
}

/* Cambia el color del texto de los elementos de la navbar cuando no están activos */
.nav-item .nav-link {
    color: lightskyblue;
}

/*---------------*/

/* primera parte */

#primera-parte{
    max-width: 100%;
    height: auto;
}

.card-img{  /*esto sirve para la primera foto*/
    width: 48vw;
    height: 40vw;
    margin-left: 0.25vw;
    font-size: 2vw;
    /* border-radius: 1vw; */
    filter: brightness(0.5);
}

/*----------------/*
/* segunda parte*/
.card-group{
    background-color: rgb(200, 200, 200);
    padding: 3vw;
    
}

.card-img-top{
    border-radius: 1vw;
}

#antropometria{
    width: 30vw;
    background-color: white;
    margin-left: 15vw;
    border-radius: 1vw;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.card-title{
    text-align: center;
    font-size: 3vw;
}

.card-text{
    margin: 1vw;
}

.planes{
    width: 30vw;
    background-color: white;
    margin-left: 10vw;
    border-radius: 1vw;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#boton{
    margin: 1vw;
}

a{
    text-decoration: none;
    color: inherit;
}
/* -----------------------------------------*/
/* ------------tercera parte-----------*/



#sobremi{
    background-color: white;
    width: 98.65vw;
    height: 40vw;
    margin-left: 0.25vw;
    font-size: 2vw;
}

.aboutme{
    padding-top: 9vw;
} 

.imagen-sobremi{
    margin-left: 5vw;
    width: 40vw;
    height: 25vw;
    margin-top: -22vw;
}

.titulo-sobremi{
    color: lightskyblue;
    font-size: 2vw;
    margin-left: 50vw;
    letter-spacing: -0.10vw;
}

.titulo-nombre{
    color:black;
    font-size: 4vw;
    margin-left: 50vw;
    letter-spacing: -0.5vw;
}

.texto-sobremi{
    color: black;
    margin-left: 50vw;
    font-size: 1.60vw;
}
/*-----------------------------------*/
/* --------------footer------------- */

.redes-sociales{
    padding-top: 15px; 
    padding-bottom: 15px; 
    margin-top: 15px;
    margin-bottom: 15px; 
    
}

.instagram{
    position: absolute;
    margin-left: 91vw;
    margin-top: 0vw;
    width: 2.5vw;
    height: 2.5vw;
}

.tiktok{
    position: absolute;
    margin-left: 87vw;
    margin-top: 0vw;
    width: 2.5vw;
    height: 2.5vw;
}

.whatsaap{
    position: absolute;
    margin-left: 83vw;
    margin-top: 0vw;
    width: 2.5vw;
    height: 2.5vw;
}

#texto_footer{
    color: whitesmoke;
}
/* --------------------------------- */
@media screen and (max-width: 600px) {
    
    .antropometria{
        width: 30vw;
        margin-left: 10vw;
        border-radius: 1vw;

    }
    
    .planes{
        width: 30vw;
        margin-left: 10vw;
        border-radius: 1vw;
    }
    
    .card-group{
       padding: 25vw;
        
    }

    /* .card-title-avena{
        font-size: 8vw;
        margin: 1vw;
    }
    
    .card-text-avena{

        font-size: 0.8rem;
        margin: 1vw;
    } */
}

